*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style: none;
  }
  body{
    background-image: url(/img/pexels-photo-2266406.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo{
    width: 100px;
  }
  .logo img{
    width: 100%;
    height: 9vh;
    border-radius:80px;
  }
  .navbar{
    height: 144px;
    background-color: rgb(143, 109, 121);
    display: flex;
  }
  
  .content ul{
     float: right;
    display: flex;
    justify-content: end;
  }
  .content ul li {
    font-size: 30px;
    padding: 10px;
    margin-left:20px;  
}
.nav-link{
  font-size: 40px;
  text-align: center;
  color:#fff;
  

}

p{
font-size: 90px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 900;
color: #fff;
text-align: center;
margin-top:5%;
}
.box{
  width:80%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  height:30vh;
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgb(143, 109, 121)); */
  text-align: center;
  border-radius: 25px;

}
.contactform {
  padding: 10px 10px;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 30px;
  margin-top:130px;
  font-size: 30px;
  padding:35px;

}
.to{
  color: #fff;
  font-weight: 600;
  margin-bottom: 1rem;
  height: 0;
  margin-top: -40px;
  font-size: 72px;
 
}
input[type="date"] {
  width: 300px;
  padding: 9px 10px;
  border-radius: 30px;
  margin-top:130px;
  font-size: 30px;
  padding:35px;
  
}
.busbutton {
  padding: 2px 60px;
  font-size: 40px;
  background-color: green;
}
.bus-button button {
  color: #000;
}
