*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.logo{
  width: 100px;
}
.logo img{
  width: 100%;
  height: 8vh;

}
.navbar{
  height: 90px;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.295), rgba(255, 255, 0, 0.481));
  display: flex;
}
.content{
  margin-left:40%;
  font-size: 20px;
  padding:20px;
}

.container{
  width:100%;
  height:100vh;
  background-image:url(/img/istockphoto-1154151207-1024x1024.jpg);
  background-size: cover;
  position:relative;
}
.form-box{
  width:30%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  height:52vh;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(255, 255, 0, 0.711));
  text-align: center;
  border-radius: 25px;


}
.sign{
  font-size: 40px;
}
.input-field{
  background-color:#eaeaea;
  margin:15px 120px;
  border-radius: 20px;
  display:flex;
  text-align: center;
}
input{
  width:100%;
  padding:27px 20px;
  margin:2px 2px;
  font-size: 20px;
  border-radius: 20px;
}
.btn{
  width:100%;
  justify-content:space-between;
}
.btn button{
  background-color: rgba(0, 0, 0, 0.782);
    color:#ffffff;
    height:80px;
    width:39%;
    border-radius:5px;
    border:0;
    outline:0;
    cursor: pointer;
    font-size: 25px;
    border-radius: 20px;
    margin:20px;
}

